interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.sehavniva.no/tideapi.php?tide_request=locationdata&fromtime=2019-12-31T15%3A52%3A01%2B01&totime=2020-01-03T15%3A52%3A01%2B01&data_type=TAB&dst=1&refcode=CD&lang=en&lon=20&lat=70&datatype=TAB
  response:
    body:
      string: "<tide>\n<service cominfo=\"Informasjon relatert til kommune- og regionreformen:
        Det vil fremover v\xE6re mulig \xE5 s\xF8ke p\xE5 b\xE5de gamle og nye kommunenavn
        p\xE5 Se havniv\xE5 og Se havniv\xE5 i kart. Oppdatert statistikk p\xE5 Se
        havniv\xE5 i kart vil bli tilgjengelig i l\xF8pet av de f\xF8rste tre ukene
        i 2020. \"/>\n<locationdata>\n<location name=\"TROMS\xD8\" code=\"TOS\" latitude=\"70.000000\"
        longitude=\"20.000000\" delay=\"0\" factor=\"1.07\" obsname=\"TROMS\xD8\"
        obscode=\"TOS\"/>\n<reflevelcode>CD</reflevelcode>\n<data type=\"prediction\"
        unit=\"cm\">\n<waterlevel value=\"281.2\" time=\"2019-12-31T16:40:00+01:00\"
        flag=\"high\"/>\n<waterlevel value=\"95.2\" time=\"2019-12-31T23:02:00+01:00\"
        flag=\"low\"/>\n<waterlevel value=\"253.9\" time=\"2020-01-01T05:10:00+01:00\"
        flag=\"high\"/>\n<waterlevel value=\"114.3\" time=\"2020-01-01T11:08:00+01:00\"
        flag=\"low\"/>\n<waterlevel value=\"269.5\" time=\"2020-01-01T17:21:00+01:00\"
        flag=\"high\"/>\n<waterlevel value=\"105.6\" time=\"2020-01-01T23:46:00+01:00\"
        flag=\"low\"/>\n<waterlevel value=\"244.0\" time=\"2020-01-02T05:56:00+01:00\"
        flag=\"high\"/>\n<waterlevel value=\"125.3\" time=\"2020-01-02T11:53:00+01:00\"
        flag=\"low\"/>\n<waterlevel value=\"258.0\" time=\"2020-01-02T18:06:00+01:00\"
        flag=\"high\"/>\n<waterlevel value=\"114.5\" time=\"2020-01-03T00:34:00+01:00\"
        flag=\"low\"/>\n<waterlevel value=\"236.3\" time=\"2020-01-03T06:49:00+01:00\"
        flag=\"high\"/>\n<waterlevel value=\"134.8\" time=\"2020-01-03T12:46:00+01:00\"
        flag=\"low\"/>\n</data>\n</locationdata>\n</tide>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
